main {}

.about {
  height: 40vh;
}

.brand-logo {
  font-weight: lighter;
  padding-left: 1.5em !important;
}

#section-about {
  background-color: transparent !important;
}

.lightweight {
  font-weight: lighter;
}

.full-width {
  width: 100%;
}

hr.fancy {
  height: 0.1em;
  border: 0;
  width: 33%;
}