main { padding: 0; }
@media only screen and (min-width: 601px) { main { padding: 0 5vw; } }
@media only screen and (min-width: 993px) { main { padding: 0 10vw; } }
@media only screen and (min-width: 1280px) { main { padding: 0 15vw; } }

.no-shadow { box-shadow: none; }

nav ul {
  position: fixed;
  top: 0;
  left: 50%;
}
nav ul.nav-left { transform: translate(-100%, 0); }
nav ul.nav-right { transform: translate(0, 0); }

.nav-item {
  font-size: 150%;
  font-variant: small-caps;
  border-bottom: 1px solid;
  margin-bottom: 0;
  cursor: pointer;
}
.nav-item:hover { 
  background-color: transparent !important; 
  color: #66BB6A !important;
}
nav ul.nav-left .nav-item { padding-left: 2em; margin-right: 1em; }
nav ul.nav-right .nav-item { padding-right: 2em; margin-left: 1em; }
